<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCGDY9px3fvvKJboGKdtCIXiLCVkC-HiI</string>
	<key>GCM_SENDER_ID</key>
	<string>435680585810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carbonFootprint</string>
	<key>PROJECT_ID</key>
	<string>carbon-ed1ce</string>
	<key>STORAGE_BUCKET</key>
	<string>carbon-ed1ce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435680585810:ios:8be08b0c71ffe20dbf178b</string>
</dict>
</plist>